LLM_API_KEY=your_api_key_here
LLM_BASE_URL=https://api.your-llm-provider.com
LLM_MODEL_NAME=your_model_name_here

EMBEDDING_MODEL_NAME=your_embedding_model_name_here

HYBRID_SEARCH_MULTIPLIER=100
LLM_RERANK_ENABLED=true
LLM_RERANK_MULTIPLIER=2

CHROMA_BASE_URL=http://chroma
CHROMA_SERVER_PORT=6333