NEXT_PUBLIC_GIT_BUILD_HASH=<if the app is built with Docker, it must be provided via BUILD_HASH (build-arg)>
TOOL_SERVER_URL=http://127.0.0.1:8080
COMFYUI_API_URL=http://127.0.0.1:3000
LLM_PROVIDER_URL=http://127.0.0.1:11434
LLM_PROVIDER_API_KEY=sk-1234